<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/css/bracket.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/img/logo.svg">
  <title>{% if this.title %}{{ this.title }} | {% endif %}FMUS</title>
</head>

<body style="background-color: #F9F9FF">
  <div class="container">
    {%- for torneo in bag(this.bag_id) %}
    {%- if loop.index == 1 %}
    </br></br>
    <h1>{{ bag(this.bag_id, torneo, 'title') }}</h1>
    <h2>{{ bag(this.bag_id, torneo, 'subtitle') }}</h2>
    <div class="tournament-bracket tournament-bracket--rounded">
      {%- for ronda in bag(this.bag_id, torneo, 'rondas') %}
      <div class="tournament-bracket__round tournament-bracket__round--bronze">
        <h3 class="tournament-bracket__round-title">{{ ronda.name }}</h3>
        <ul class="tournament-bracket__list">
          {%- for partida in ronda.partidas %}
          {%- set hasPlayers = not (partida.player1 == "" and partida.player2 == "") %}
          {%- set hasResult = not (partida.points1 == -1 and partida.points2 == -1) %}
          <li class="tournament-bracket__item">
            <div class="tournament-bracket__match" tabindex="0">
              <table class="tournament-bracket__table">
                <thead class="sr-only">
                  <tr>
                    <th>Jugadores</th>
                    <th>Resultado</th>
                  </tr>
                </thead>
                <tbody class="tournament-bracket__content">
                  <tr
                    class="tournament-bracket__team{%- if partida.points1 > partida.points2 %} tournament-bracket__team--winner{% endif %}">
                    <!-- TODO -->
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code" title="{{ partida.player1long }}" tabindex="0">{{
                        partida.player1 }}{% if partida.extra %}</br></br>{% endif %}</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">{% if partida.points1 != -1 %}{{ partida.points1 }}{%
                        else %}-{% endif %}</span>
                      {%- if not (not hasResult and hasPlayers) and (ronda.name == "Tercer y cuarto puesto" or
                      ronda.name == "Tercer i quart lloc" or ronda.name == "Dos ratas pelean por un churro con Linkin
                      Park de fondo") and partida.points1 > partida.points2 %}<span
                        class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy"
                        aria-label="Bronze medal"></span>{% endif %}
                      {%- if not (not hasResult and hasPlayers) and ronda.name == "Final" %}
                      {%- if partida.points1 > partida.points2 or not hasPlayers %}
                      <span class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                        aria-label="Gold medal"></span>
                      {%- else %}
                      <span class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                        aria-label="Silver medal"></span>
                      {%- endif %}
                      {%- endif %}
                    </td>
                  </tr>
                  <tr
                    class="tournament-bracket__team{%- if partida.points1 < partida.points2 %} tournament-bracket__team--winner{% endif %}">
                    <td class="tournament-bracket__country">
                      <abbr class="tournament-bracket__code" title="{{ partida.player2long }}" tabindex="0">{{
                        partida.player2 }}{%
                        if partida.extra %}</br></br>{% endif %}</abbr>
                    </td>
                    <td class="tournament-bracket__score">
                      <span class="tournament-bracket__number">{% if partida.points2 != -1 %}{{ partida.points2 }}{%
                        else %}-{% endif %}</span>
                      {%- if not (not hasResult and hasPlayers) and (ronda.name == "Tercer y cuarto puesto" or
                      ronda.name == "Tercer i quart lloc" or ronda.name == "Dos ratas pelean por un churro con Linkin
                      Park de fondo") and (partida.points1 < partida.points2 or not hasPlayers) %}<span
                        class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy"
                        aria-label="Bronze medal"></span>{% endif %}
                        {%- if not (not hasResult and hasPlayers) and ronda.name == "Final" %}
                        {%- if partida.points1 < partida.points2 %} <span
                          class="tournament-bracket__medal tournament-bracket__medal--gold fa fa-trophy"
                          aria-label="Gold medal"></span>
                          {%- else %}
                          <span class="tournament-bracket__medal tournament-bracket__medal--silver fa fa-trophy"
                            aria-label="Silver medal"></span>
                          {%- endif %}
                          {%- endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          {%- endfor %}
        </ul>
      </div>
      {%- endfor %}
    </div>
    {%- endif %}
    {%- endfor %}
  </div>
</body>

</html>