{% extends "layout.html" %}
{% block title %}FMUS{% endblock %}
{% block main %}
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="home_left_img">
                        <img src="/img/logo3.svg" alt="" width="100%">
                        </br>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h5>Club de Cartas de la FME</h5>
                        <h2>FMUS</h2>
                        <p>El club con más adscritos en toda la FME, el increible, el insubstituible, el insuperable, el
                            insolito, el inigualable, el inmejorable. El FMUS.</p>
                        {%- for child in root.children|sort(attribute='position') %}
                        {%- if child.position > 0 and child.children.count() > 0 %}
                        {%- for child2 in child.children|sort(attribute='date', reverse=true) %}
                        {%- if child2.active %}
                        <a href="{{ child2|url }}" class="banner_btn">{% if child2.name %}{{ child2.name }}{% else %}{{
                            child2.title }}{% endif %}</a>
                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>Sobre el club</h4>
                    <p>Los números son públicos, nosotros transparentes.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-database"></i>
                                <h4>0€</h4>
                                <p>Subvenciones de "la Dele"</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>1</h4>
                                <p>Número de torneos</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>2</h4>
                                <p>Total de voluntarios</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <h3>Valoraciones de nuestras ofertas</h3>
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>Mus <span class="counter">85</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Butifarra <span class="counter">100</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Torneos <span class="counter">3</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Web 2000%</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>"Mus" de 8 reyes <span class="counter">0.5</span>% (en realidad no lo ofertamos)</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0.5" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Ofertas de juegos</h2>
            <p>Todas nuestras ofertas, ¡a tu disposición!</p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-city"></i>
                    <h4>Mus</h4>
                    <p>El que todo el mundo conoce.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-skyline"></i>
                    <h4>Butifarra</h4>
                    <p>El que todo el mundo debería conocer.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-sketch"></i>
                    <h4>Y ya.</h4>
                    <p>Que no somos una ONG.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}