<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/img/logo.svg">
		<title>{% block title %}{{ this.title }}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <link rel="stylesheet" href="/vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
    </head>
    <body{{ this.bodyfunction }}>
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
                        {%- set root = site.get('/') %}
						<a class="navbar-brand logo_h" href="{{ root|url }}"><img src="/img/logo.svg" alt="" width="100px"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="{{ root|url }}">{% if root.name %}{{ root.name }}{% else %}{{ root.title }}{% endif %}</a></li>
                                {%- for child in root.children|sort(attribute='position') %}
                                {%- if child.position > 0 %}
                                {%- if child.children == 0 %}
                                <li class="nav-item"><a class="nav-link" href="{{ child|url }}">{% if child.name %}{{ child.name }}{% else %}{{ child.title }}{% endif %}</a>
                                {%- else %}
                                <li class="nav-item submenu dropdown">
									<a class="nav-link" href="{{ child|url }}">{% if child.name %}{{ child.name }}{% else %}{{ child.title }}{% endif %}</a>
                                    <ul class="dropdown-menu">
                                        {%- for child2 in child.children|sort(attribute='date', reverse=true) %}
                                        {%- if child2.active %}
										<li class="nav-item"><a class="nav-link" href="{{ child2|url }}">{% if child2.name %}{{ child2.name }}{% else %}{{ child2.title }}{% endif %}</a></li>
                                        {% endif %}{%- endfor %}
                                    </ul>
								</li>
                                {%- endif %}
                                {%- endif %}
                                {%- endfor %}
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        
        <div class="whole-wrap">
        {% block main %}
        {{ this.body }}
        {% if this.markdown %}
        </br></br>
            <div class="container">
                {{ this.markdown }}
            </div>
        {% endif %}
        {% endblock %}
        </div>
        
        <footer class="footer_area">
        	<div class="container">
				</br></br>
        		<div class="row footer_inner">
        			<div class="col-lg-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>¡Recibe nuestra revista mensual!</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="#" onsubmit="troll()" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Aquí va tu email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Aquí va tu email'" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>
                                </form>
                            </div>
                            <br/><br/>
        				</aside>
        			</div>
        			<div class="col-lg-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>Aviso legal</h3>
        					</div>
        					<p>El FMUS no se hace responsable de cualquier adicción causada por jugar a cartas. Tampoco se hace responsable de los enfados que estos puedan crear, o las relaciones que puedan destruir.
        					</br></br>En realidad, no se hace responsable de nada. Juega con moderación (o no, tampoco somos los responsables...).</p>
        				</aside>
        			</div>
        		</div>
        		</br>
        	</div>
        </footer>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/stellar.js"></script>
        <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope-min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/jquery.ajaxchimp.min.js"></script>
        <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="/vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="/js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/js/gmaps.min.js"></script>
        <script src="/js/theme.js"></script>
        <script>
            $("table").addClass("table");
            $("blockquote").addClass("alert alert-secondary");
            
            function troll() {
                alert('¿A dónde vas? Flipado.');
            }
        </script>
        {% block scripts %}{{ this.scripts }}{% endblock %}
    </body>
</html>
