{% extends "layout.html" %}
{% block title %}{% if this.title %}{{ this.title }} | {% endif %}FMUS{% endblock %}
{% block main %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-color: #F8E473">
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{ this.longtitle }}</h2>
            </div>
        </div>
    </div>
</section>
<section class="sample-text-area">
	<div class="container">
        <h3 class="text-heading title_color">Informació</h3>
        <p class="sample-text">
            {{ this.info }}
        </p>
    </div>
    {%- for section in bag(this.bag_id) %}
    </br></br>
    <div class="container">
        <h3 class="text-heading title_color">{{ bag(this.bag_id, section, 'title') }}</h3>
        <p class="sample-text">
            {{ bag(this.bag_id, section, 'text') }}
        </p>
        {%- for alert in bag(this.bag_id, section, 'alerts') -%}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">{{ alert.title }}</h4>
            {%- for par in alert.text %}
            {%- if loop.index != 1 %}</br></br>{% endif %}
            {{ par }}
            {%- endfor %}
        </div>
        {%- endfor %}
    </div>
    {%- endfor %}
    {%- if this.inscriptionfase %}
    </br></br>
    <div class="container">
        <h3 class="text-heading title_color">Inscripcions</h3>
        <form class="needs-validation" id="test-form" novalidate>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault01">Nombre y apellido de la primera participante</label>
              <input type="text" class="form-control" name="Nombre1" placeholder="Aquí tu nombre" required><div class="invalid-feedback">
                Somos genios, pero no telépatas.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom02">Nombre y apellido de la segunda participante</label>
              <input type="text" class="form-control" name="Nombre2" placeholder="Aquí el de tu compañera" required>
              <div class="invalid-feedback">
                ¿En serio? ¿Pretendes jugar sola?
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom02">Número de teléfono 1</label>
              <input type="text" class="form-control" id="validationCustom02" name="Telefono1" placeholder="Número de teléfono" required>
              <div class="invalid-feedback">
                Obligatorio para informarte.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom02">Número de teléfono 2 (opcional)</label>
              <input type="text" class="form-control" name="Telefono2" placeholder="Número de teléfono (opcional)">
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom02">Pseudónimo del equipo</label>
              <input type="text" class="form-control" name="Pseudonimo" placeholder="Ponlo solo en caso que no quieras los nombre en la web">
              <div class="invalid-feedback">
                Si no quieres los nombres en la web, vas a tener que darnos un pseudónimo.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="NombreEnWeb">
              <label class="form-check-label">
                No queremos que nuestros nombres aparezcan en la web (pon un pseudónimo para el equipo)
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="UnidoAlGrupo" required>
              <label class="form-check-label">
                Ja m'he unit al grup de WhatsApp del torneig! (link: <a href="{{ this.whatsappgroup }}">{{ this.whatsappgroup }}</a>)
              </label>
              <div class="invalid-feedback">
                Uneix-te capdou!
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="NoSPAM" required>
              <label class="form-check-label">
                No faré SPAM pel grup de Whatsapp del torneig!
              </label>
              <div class="invalid-feedback">
                Ho has intentat, però és necessari per inscriure't.
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Seré una buena participante y no abandonaré el torneo a medias
              </label>
              <div class="invalid-feedback">
                A ver, unos mínimos.
              </div>
            </div>
          </div>
          <button class="btn btn-primary" id="submit-form" type="submit">¡Apúntame!</button>
        </form>
    </div>
</section>
{%- else %}
{%- if this.league_id %}
    </br></br>
	<div class="container">
        <h3 class="text-heading title_color">Lligues</h3>
		{%- for torneo in bag(this.league_id) %}
        {%- for liga in bag(this.league_id, torneo, 'ligas') %}
        {%- if loop.index != 1 %}
        </br></br>
        {%- endif %}
		<table id="tablePreview" class="table">
		  <thead>
			<tr>
			  <th>{{ bag(this.league_id, torneo, 'equipo') }}</th>
			  <th>{{ bag(this.league_id, torneo, 'integrantes') }}</th>
			  <th>{{ bag(this.league_id, torneo, 'ganadas') }}</th>
			  <th>{{ bag(this.league_id, torneo, 'perdidas') }}</th>
			</tr>
		  </thead>
		  <tbody>
			{%- for equipo in liga.equipos|sort(attribute='puntos', reverse=True) %}
			<tr>
			  <td>{{ equipo.equipo }}</td>
			  <td>{{ equipo.integrantes }}</td>
			  <td>{{ equipo.ganadas }}</td>
			  <td>{{ equipo.perdidas }}</td>
			</tr>
			{%- endfor %}
		  </tbody>
		</table>
		{%- endfor %}
		{%- endfor %}
    </div>
{%- endif %}
</section>
<iframe id="ifr" src="{{ this.bracketsource }}" style="width: 100%; height: 1500px" frameborder="0" onload="iframeLoaded()"></iframe>
{%- endif %}
{% endblock %}

{% block scripts %}
{{ this.scripts }}
{%- if this.inscriptionfase %}
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        console.log(form);
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
$.fn.serializeObject = function()
{
   var o = {};
   var a = this.serializeArray();
   $.each(a, function() {
       if (o[this.name]) {
           if (!o[this.name].push) {
               o[this.name] = [o[this.name]];
           }
           o[this.name].push(this.value || '');
       } else {
           o[this.name] = this.value || '';
       }
   });
   return o;
};

var $form = $('form#test-form'), url = '{{ this.scripturl }}'
$('#submit-form').on('click', function(e) {
    e.preventDefault();
    let form = document.getElementById('test-form');
    form.classList.add('was-validated');
    if (form.checkValidity() === false) return;

    var $this = $(this);
    var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Enviando respuesta';
    if ($(this).html() !== loadingText) {
      $this.data('original-text', $(this).html());
      $this.html(loadingText);
      $this.addClass('disabled');
    }
  var jqxhr = $.ajax({
    url: url,
    method: "GET",
    dataType: "json",
    data: $form.serializeObject(),
    success: () => {location.reload(true);}
  }).done(() => { $('#submit-form').html($this.data('original-text')); $('#submit-form').removeClass('disabled');});
})
</script>
{%- else %}
<script>
    function iframeLoaded() {
        var iFrameID = document.getElementById('ifr');
        if (iFrameID) {
            iFrameID.height = (iFrameID.contentWindow.document.body.scrollHeight + 50) + "px";
        }
    }
    $("#ifr").resize(() => { iframeLoaded(); console.log("a"); });
</script>
{%- endif %}
{% endblock %}
