{% extends "layout.html" %}
{% block title %}{% if this.title %}{{ this.title }} | {% endif %}FMUS{% endblock %}
{% block main %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center" style="background-color: #71DDD2;
    background-length: no-repeat;
    background-size: cover;">
        <div class="container">
            <div class="banner_content text-center">
                <h2>{{ this.title }}</h2>
            </div>
        </div>
    </div>
</section>
<section class="sample-text-area">
    <div class="container">
        <h3 class="text-heading title_color">{{ this.listname }}</h3>
        <p class="sample-text">
            <div class="list-grou">
                {%- for child in this.children|sort(attribute='date', reverse=true) %}
                <a href="{{ child|url }}" class="list-group-item list-group-item-action{% if child.active %} list-group-item-success{% endif %}">{{ child.title }}</a>
                {%- endfor %}
            </div>
        </p>
    </div>
</section>
{% endblock %}
